<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<appSettings configSource="AppSettings.config" />
	<connectionStrings configSource="ConnectionStrings.config" />
    <system.web>
	    <customErrors mode="Off"/>
        <pages clientIDMode="Predictable"/>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
	<system.webServer>
		<modules >
			<remove name="UrlRoutingModule-4.0" />
			<add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" preCondition="" />
			<remove name="Session"/>
			<add name="Session" type="System.Web.SessionState.SessionStateModule" preCondition=""/>
		</modules>
		<handlers>
			<add verb="*" name="CacheManager" path="CacheManager.axd" type="AspAlliance.CacheManager.CacheManagerPageFactory,AspAlliance.CacheManager"/>
		</handlers>
	</system.webServer>
</configuration>
