<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StackFlair.SiteCaching.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="StackFlair.SiteCaching.Properties.Settings.DefaultConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Default;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <StackFlair.SiteCaching.Properties.Settings>
            <setting name="ApiKey" serializeAs="String">
                <value>VkUqga2oSkipyf-l9fi7sw</value>
            </setting>
            <setting name="ApiVersion" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="FaviconFolder" serializeAs="String">
                <value>Favicons/</value>
            </setting>
            <setting name="ProcessIcons" serializeAs="String">
                <value>True</value>
            </setting>
        </StackFlair.SiteCaching.Properties.Settings>
    </applicationSettings>
</configuration>